.u-section-1 {
  min-height: 443px;
}

.u-section-1 .u-sheet-1 {
  min-height: 1148px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 65px 698px 0 29px;
}

.u-section-1 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: -65px 298px 0 auto;
}

.u-section-1 .u-icon-2 {
  height: 76px;
  width: 76px;
  margin: -70px 222px 0 auto;
}

.u-section-1 .u-text-2 {
  margin: -4px 42px 0 733px;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1060px;
  margin: 20px auto 60px 20px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 876px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 120px 30px 30px;
}

.u-section-1 .u-text-3 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 9px 1px 0 0;
}

.u-section-1 .u-text-4 {
  background-image: none;
  font-size: 1.25rem;
  font-style: normal;
  margin: 20px 1px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 876px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 361px;
  height: 326px;
  animation-duration: 1000ms;
  margin: 177px auto 0 -98px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 481px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1051px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
    margin-right: 527px;
    margin-left: 97px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -20px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: -81px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -22px;
    margin-right: 0;
    margin-left: 45px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-top: 31px;
    margin-left: 97px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 777px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 777px;
  }

  .u-section-1 .u-image-1 {
    height: 325px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 364px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 886px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 307px;
    margin-left: 74px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 108px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 552px;
    margin-left: 355px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -732px;
    margin-bottom: 0;
    margin-left: 74px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 595px;
  }

  .u-section-1 .u-image-1 {
    width: 420px;
    height: 315px;
    margin-top: 216px;
    margin-left: -126px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 655px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1257px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 127px;
    margin-left: 56px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 617px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 399px;
    margin-left: 175px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -1088px;
    margin-left: 56px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 438px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 110px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 893px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 229px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 2390px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 40px;
    margin-right: 50px;
    margin-left: -15px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 0;
    margin-right: 50px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: -70px;
    margin-right: -26px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 1351px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -1393px;
    margin-bottom: 60px;
    margin-left: 35px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1094px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 100px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 0;
    margin-right: 95px;
    margin-left: -95px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 29px;
    margin-right: 35px;
    margin-left: -35px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 562px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-1 {
    height: 240px;
    margin-top: 291px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 178px;
}

.u-section-2 .u-text-1 {
  font-weight: 900;
  margin: 0 20px 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 316px;
}

.u-section-3 .u-list-1 {
  min-height: 336px;
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  grid-gap: 30px 30px;
  margin-top: -40px;
  margin-bottom: 20px;
}

.u-section-3 .u-list-item-1 {
  animation-duration: 1000ms;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 80px;
  width: 81px;
  margin: 36px auto 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 8px auto 0;
}

.u-section-3 .u-text-2 {
  font-style: italic;
  margin: 20px 2px 0 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
  animation-duration: 1000ms;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 80px;
  width: 81px;
  margin: 36px auto 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 8px auto 0;
}

.u-section-3 .u-text-4 {
  font-style: italic;
  margin: 20px 2px 0 0;
}

.u-section-3 .u-list-item-3 {
  animation-duration: 1000ms;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 81px;
  width: 81px;
  margin: 36px auto 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: 8px auto 0;
}

.u-section-3 .u-text-6 {
  font-style: italic;
  margin: 20px 2px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 257px;
  }

  .u-section-3 .u-list-1 {
    min-height: 277px;
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    height: auto;
  }

  .u-section-3 .u-list-item-1 {
    background-size: auto;
  }

  .u-section-3 .u-icon-1 {
    height: 81px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-list-item-3 {
    background-size: auto;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 617px;
  }

  .u-section-3 .u-list-1 {
    min-height: 637px;
    grid-template-columns: repeat(2, calc(((100% - 720px) / 2)  + 345px));
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 761px;
  }

  .u-section-3 .u-list-1 {
    min-height: 781px;
    margin-top: 150px;
    margin-bottom: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 177px;
}

.u-section-4 .u-text-1 {
  font-weight: 900;
  margin: 60px 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 648px;
}

.u-section-5 .u-list-1 {
  width: 884px;
  min-height: 635px;
  grid-template-rows: auto auto auto;
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  margin: 15px 86px 0 auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-icon-1 {
  height: 64px;
  width: 64px;
  animation-duration: 1000ms;
  margin: 0 20px;
}

.u-section-5 .u-text-1 {
  font-size: 1.25rem;
  margin: -63px 0 -1px 115px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-icon-2 {
  height: 64px;
  width: 64px;
  animation-duration: 1000ms;
  margin: 0 20px;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  margin: -63px 0 -1px 115px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-icon-3 {
  height: 64px;
  width: 64px;
  animation-duration: 1000ms;
  margin: 0 20px;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  margin: -63px 0 -1px 115px;
}

.u-section-5 .u-text-4 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: -539px 863px 0 232px;
}

.u-section-5 .u-text-5 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 205px 857px 0 232px;
}

.u-section-5 .u-text-6 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 175px 857px 60px 232px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-list-1 {
    height: auto;
    margin-right: 56px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 699px;
    margin-left: 132px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 757px;
    margin-left: 132px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 757px;
    margin-left: 132px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-list-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-5 .u-text-1 {
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 535px;
    margin-left: 22px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 647px;
    margin-left: 22px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 647px;
    margin-left: 22px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-list-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
    margin-left: 115px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-left: 115px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
    margin-left: 115px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 401px;
    margin-left: 0;
  }

  .u-section-5 .u-text-5 {
    margin-right: 489px;
    margin-left: 0;
  }

  .u-section-5 .u-text-6 {
    margin-right: 489px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1796px;
  }

  .u-section-5 .u-list-1 {
    width: 340px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: -1691px;
    margin-right: 218px;
    margin-left: 34px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-top: 634px;
    margin-right: 255px;
    margin-left: 34px;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-top: 541px;
    margin-right: 255px;
    margin-left: 34px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 822px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 91px auto 0;
}

.u-section-6 .u-list-1 {
  width: 868px;
  min-height: 579px;
  grid-template-columns: 100%;
  grid-gap: 30px 30px;
  margin: 60px auto;
}

.u-section-6 .u-list-item-1 {
  background-image: linear-gradient(#adf6f2, #eafdfc);
  animation-duration: 1000ms;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-1 {
  width: 110px;
  height: 110px;
  background-image: url("images/24-512.png");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  margin: -110px 472px 0 147px;
}

.u-section-6 .u-text-3 {
  font-size: 1.25rem;
  background-image: none;
  margin: 20px 0 0 147px;
}

.u-section-6 .u-list-item-2 {
  background-image: linear-gradient(#adf6f2, #eafdfc);
  animation-duration: 1000ms;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-image-2 {
  width: 110px;
  height: 110px;
  background-image: url("images/24-512.png");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-4 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  margin: -110px 472px 0 147px;
}

.u-section-6 .u-text-5 {
  font-size: 1.25rem;
  background-image: none;
  margin: 20px 0 0 147px;
}

.u-section-6 .u-list-item-3 {
  background-image: linear-gradient(#adf6f2, #eafdfc);
  animation-duration: 1000ms;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-image-3 {
  width: 110px;
  height: 110px;
  background-image: url("images/24-512.png");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-6 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  margin: -110px 472px 0 147px;
}

.u-section-6 .u-text-7 {
  font-size: 1.25rem;
  background-image: none;
  margin: 20px 0 0 147px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-list-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-list-1 {
    width: 720px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 398px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 398px;
  }

  .u-section-6 .u-text-6 {
    margin-right: 398px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-list-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 328px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 328px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-6 {
    margin-right: 328px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1238px;
  }

  .u-section-6 .u-list-1 {
    min-height: 980px;
    margin-top: 128px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-right: 20px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin: 63px -10px -30px 57px;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-right: 20px;
  }

  .u-section-6 .u-text-5 {
    width: auto;
    margin: 63px -10px -30px 57px;
  }

  .u-section-6 .u-text-6 {
    width: auto;
    margin-right: 20px;
  }

  .u-section-6 .u-text-7 {
    width: auto;
    margin-top: 63px;
    margin-bottom: -30px;
    margin-left: 47px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 399px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  margin: 4px auto 0;
}

.u-section-7 .u-list-1 {
  min-height: 226px;
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  width: 1060px;
  grid-gap: 10px 10px;
  margin: 59px -12px 59px auto;
}

.u-section-7 .u-list-item-1 {
  animation-duration: 1000ms;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-icon-1 {
  height: 65px;
  width: 65px;
  animation-duration: 1000ms;
  box-shadow: -6px -4px 8px 0 rgba(128,128,128,1);
  margin: 0 auto 0 0;
}

.u-section-7 .u-group-1 {
  width: 403px;
  min-height: 43px;
  margin: -65px 0 0 auto;
}

.u-section-7 .u-container-layout-2 {
  padding: 0 30px 18px;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  animation-duration: 1000ms;
  margin: 20px 0 -19px;
}

.u-section-7 .u-list-item-2 {
  animation-duration: 1000ms;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-icon-2 {
  height: 65px;
  width: 65px;
  animation-duration: 1000ms;
  box-shadow: -6px -4px 8px 0 rgba(128,128,128,1);
  margin: 0 auto 0 0;
}

.u-section-7 .u-group-2 {
  width: 403px;
  min-height: 43px;
  background-size: auto;
  margin: -65px 0 0 auto;
}

.u-section-7 .u-container-layout-4 {
  padding: 0 30px 18px;
}

.u-section-7 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  animation-duration: 1000ms;
  margin: 20px 0 -19px;
}

.u-section-7 .u-list-item-3 {
  animation-duration: 1000ms;
}

.u-section-7 .u-container-layout-5 {
  padding: 30px;
}

.u-section-7 .u-icon-3 {
  height: 65px;
  width: 65px;
  animation-duration: 1000ms;
  box-shadow: -6px -4px 8px 0 rgba(128,128,128,1);
  margin: 0 auto 0 0;
}

.u-section-7 .u-group-3 {
  width: 403px;
  min-height: 43px;
  background-size: auto;
  margin: -65px 0 0 auto;
}

.u-section-7 .u-container-layout-6 {
  padding: 0 30px 18px;
}

.u-section-7 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  animation-duration: 1000ms;
  margin: 20px 0 -19px;
}

.u-section-7 .u-list-item-4 {
  animation-duration: 1000ms;
}

.u-section-7 .u-container-layout-7 {
  padding: 30px;
}

.u-section-7 .u-icon-4 {
  height: 65px;
  width: 65px;
  animation-duration: 1000ms;
  box-shadow: -6px -4px 8px 0 rgba(128,128,128,1);
  margin: 0 auto 0 0;
}

.u-section-7 .u-group-4 {
  width: 403px;
  min-height: 43px;
  background-size: auto;
  margin: -65px 0 0 auto;
}

.u-section-7 .u-container-layout-8 {
  padding: 0 30px 18px;
}

.u-section-7 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  animation-duration: 1000ms;
  margin: 20px 0 -19px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 359px;
  }

  .u-section-7 .u-list-1 {
    min-height: 468px;
    grid-template-columns: repeat(2, calc(50% - 5px));
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-group-1 {
    width: 333px;
    min-height: 169px;
  }

  .u-section-7 .u-group-2 {
    width: 333px;
    min-height: 169px;
  }

  .u-section-7 .u-group-3 {
    width: 333px;
    min-height: 169px;
  }

  .u-section-7 .u-group-4 {
    width: 333px;
    min-height: 169px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-group-1 {
    width: 224px;
    min-height: 199px;
  }

  .u-section-7 .u-group-2 {
    width: 224px;
    min-height: 199px;
  }

  .u-section-7 .u-group-3 {
    width: 224px;
    min-height: 199px;
  }

  .u-section-7 .u-group-4 {
    width: 224px;
    min-height: 199px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-group-1 {
    width: 160px;
    min-height: 248px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-group-2 {
    width: 160px;
    min-height: 248px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-group-3 {
    width: 160px;
    min-height: 248px;
  }

  .u-section-7 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-group-4 {
    width: 160px;
    min-height: 248px;
  }

  .u-section-7 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1155px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 32px;
  }

  .u-section-7 .u-list-1 {
    grid-template-columns: 100%;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-icon-1 {
    margin-right: 255px;
  }

  .u-section-7 .u-group-1 {
    width: 235px;
    min-height: 174px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-bottom: 29px;
  }

  .u-section-7 .u-icon-2 {
    margin-right: 255px;
  }

  .u-section-7 .u-group-2 {
    width: 235px;
    min-height: 174px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-bottom: 29px;
  }

  .u-section-7 .u-icon-3 {
    margin-right: 255px;
  }

  .u-section-7 .u-group-3 {
    width: 235px;
    min-height: 174px;
  }

  .u-section-7 .u-container-layout-6 {
    padding-bottom: 29px;
  }

  .u-section-7 .u-icon-4 {
    margin-right: 255px;
  }

  .u-section-7 .u-group-4 {
    width: 235px;
    min-height: 174px;
  }

  .u-section-7 .u-container-layout-8 {
    padding-bottom: 29px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 951px;
}

.u-section-8 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  background-image: none;
  margin: 60px auto 0;
}

.u-section-8 .u-list-1 {
  min-height: 1005px;
  grid-template-columns: calc(33.3333% - 7px) calc(33.3333% - 7px) calc(33.3333% - 7px);
  grid-template-rows: auto auto;
  grid-gap: 10px 10px;
  margin: 105px auto 41px 0;
}

.u-section-8 .u-list-item-1 {
  animation-duration: 1000ms;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-icon-1 {
  height: 91px;
  width: 91px;
  background-image: linear-gradient(#72efe9, #eafdfc);
  margin: 0 108px 0 auto;
}

.u-section-8 .u-text-2 {
  font-weight: 700;
  margin: 13px 20px 0;
}

.u-section-8 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-8 .u-list-item-2 {
  animation-duration: 1000ms;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-icon-2 {
  height: 91px;
  width: 91px;
  background-image: linear-gradient(#72efe9, #eafdfc);
  margin: 0 108px 0 auto;
}

.u-section-8 .u-text-4 {
  font-weight: 700;
  margin: 13px 20px 0;
}

.u-section-8 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-8 .u-list-item-3 {
  animation-duration: 1000ms;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px;
}

.u-section-8 .u-icon-3 {
  height: 91px;
  width: 91px;
  background-image: linear-gradient(#72efe9, #eafdfc);
  margin: 0 108px 0 auto;
}

.u-section-8 .u-text-6 {
  font-weight: 700;
  margin: 13px 20px 0;
}

.u-section-8 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-8 .u-list-item-4 {
  animation-duration: 1000ms;
}

.u-section-8 .u-container-layout-4 {
  padding: 30px;
}

.u-section-8 .u-icon-4 {
  height: 91px;
  width: 91px;
  background-image: linear-gradient(#72efe9, #eafdfc);
  margin: 0 108px 0 auto;
}

.u-section-8 .u-text-8 {
  font-weight: 700;
  margin: 13px 20px 0;
}

.u-section-8 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-8 .u-list-item-5 {
  animation-duration: 1000ms;
}

.u-section-8 .u-container-layout-5 {
  padding: 30px;
}

.u-section-8 .u-icon-5 {
  height: 91px;
  width: 91px;
  background-image: linear-gradient(#72efe9, #eafdfc);
  margin: 0 108px 0 auto;
}

.u-section-8 .u-text-10 {
  font-weight: 700;
  margin: 13px 20px 0;
}

.u-section-8 .u-text-11 {
  margin: 20px 0 0;
}

.u-section-8 .u-list-item-6 {
  animation-duration: 1000ms;
}

.u-section-8 .u-container-layout-6 {
  padding: 30px;
}

.u-section-8 .u-icon-6 {
  height: 91px;
  width: 91px;
  background-image: linear-gradient(#72efe9, #eafdfc);
  margin: 0 108px 0 auto;
}

.u-section-8 .u-text-12 {
  font-weight: 700;
  margin: 13px 20px 0;
}

.u-section-8 .u-text-13 {
  margin: 20px 0 0;
}

.u-section-8 .u-list-item-7 {
  animation-duration: 1000ms;
}

.u-section-8 .u-container-layout-7 {
  padding: 30px;
}

.u-section-8 .u-icon-7 {
  height: 91px;
  width: 91px;
  background-image: linear-gradient(#72efe9, #eafdfc);
  margin: 0 108px 0 auto;
}

.u-section-8 .u-text-14 {
  font-weight: 700;
  margin: 13px 20px 0;
}

.u-section-8 .u-text-15 {
  margin: 20px 0 0;
}

.u-section-8 .u-list-item-8 {
  animation-duration: 1000ms;
}

.u-section-8 .u-container-layout-8 {
  padding: 30px;
}

.u-section-8 .u-icon-8 {
  height: 91px;
  width: 91px;
  background-image: linear-gradient(#72efe9, #eafdfc);
  margin: 0 108px 0 auto;
}

.u-section-8 .u-text-16 {
  font-weight: 700;
  margin: 13px 20px 0;
}

.u-section-8 .u-text-17 {
  margin: 20px 0 0;
}

.u-section-8 .u-list-item-9 {
  animation-duration: 1000ms;
}

.u-section-8 .u-container-layout-9 {
  padding: 30px;
}

.u-section-8 .u-icon-9 {
  height: 91px;
  width: 91px;
  background-image: linear-gradient(#72efe9, #eafdfc);
  margin: 0 108px 0 auto;
}

.u-section-8 .u-text-18 {
  font-weight: 700;
  margin: 13px 20px 0;
}

.u-section-8 .u-text-19 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 775px;
  }

  .u-section-8 .u-list-1 {
    min-height: 829px;
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1240px;
  }

  .u-section-8 .u-list-1 {
    min-height: 977px;
    grid-template-columns: calc(50% - 5.25px) calc(50% - 5.25px);
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-list-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    margin-top: 130px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-8 .u-list-1 {
    grid-template-columns: 100%;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 420px;
}

.u-section-9 .u-layout-wrap-1 {
  width: 873px;
  margin: 0 auto 20px;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 200px;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9 .u-text-1 {
  font-size: 3rem;
  width: 429px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  margin: 0 auto;
}

.u-section-9 .u-text-2 {
  width: 461px;
  font-style: normal;
  margin: 20px auto 0;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 200px;
}

.u-section-9 .u-container-layout-2 {
  padding: 10px;
}

.u-section-9 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-9 .u-text-3 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  margin: 20px auto 0;
}

.u-section-9 .u-text-4 {
  font-size: 1.125rem;
  margin: 20px auto 0;
}

.u-section-9 .u-layout-cell-3 {
  min-height: 200px;
}

.u-section-9 .u-container-layout-3 {
  padding: 10px;
}

.u-section-9 .u-icon-2 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-9 .u-text-5 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  margin: 20px 89px 0 94px;
}

.u-section-9 .u-text-6 {
  font-size: 1.125rem;
  margin: 20px auto 0;
}

.u-section-9 .u-btn-1 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-5 {
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 385px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-9 .u-text-5 {
    margin-right: 64px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 716px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 688px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-9 .u-text-1 {
    font-size: 3.75rem;
    width: 320px;
  }

  .u-section-9 .u-text-2 {
    width: 320px;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 161px;
  }

  .u-section-9 .u-text-5 {
    width: 84px;
    margin-right: auto;
  }
}